<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Notaria_WPF.Properties.Settings.NotariaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Notaria;User ID=sa;Password=Walitoxd1"
            providerName="System.Data.SqlClient" />
        <add name="Notaria_WPF.Properties.Settings.Notaria" connectionString="Data Source=DESKTOP-2H84OGS;Initial Catalog=Notaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>